
html, body {
    margin: 0;
    padding: 0;
    
    font-family: "nunito", sans-serif;
}

.blue {
    background-color: var(--blueish);
    color: var(--whiteish);
}

.header-footer {
    font-size: 2vw;
}

.header-footer > nav {
    padding: 4vw; 
    /* lr = 10vh does not work */
    padding-left: 0;
    padding-right: 0;
}

.header-footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-content: space-around;
}

.header-footer nav li {
    text-align: center;
    align-self: center; /* vertical alignment */
}

.header-footer nav a {
    display: inline-block;
    /*min-width: 7em;*/
}

header nav a {
    font-weight: bold;
}

.header-footer a:focus, .header-footer a:active, .header-footer a:hover {
    /* font-weight: 1000; */ /* looks shitty */
    opacity: .6;
}

.header-footer a.logo {
    background: url(../images/denktmit-logo-white-transparent.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 288px;
    height: 81px;
    margin-left: 1em;
}

.header-footer a.logo:focus,
.header-footer a.logo:active,
.header-footer a.logo:hover {
    background-image: url(../images/denktmit-logo-white-transparent-highlighted.svg);
}

.header-footer a.logo.blue {
    background-image: url(../images/denktmit-logo-blue-transparent.svg);
}

.header-footer a.logo.blue:focus,
.header-footer a.logo.blue:active,
.header-footer a.logo.blue:hover {
    background-image: url(../images/denktmit-logo-blue-transparent-highlighted.svg);
}

header.sticky {
    background-color: var(--greyish);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
    font-size: 170%;
    
    box-shadow: 0 0 2vh #919090;
}

header.sticky nav {
    padding: 1.5vw 0;
}

header.scrolling {
    position: relative;
    z-index: 20;
}

/* arghl, what a hack! */
header.sticky nav br { display: none; }
header.sticky a.logo {
    height: 42px;
}

header.sticky a {
    color: var(--blueish);
}

/* footer */

@media (min-width: 901px ) {

    footer.header-footer > nav {
        display: flex;
        justify-content: left;
        align-items: flex-end;
        font-size: 85%;
        padding: 7vw 10vw;
    }

    footer nav.central {
        padding: 0 15vw;
    }

    footer.header-footer a.logo {
        width: 100%;
        margin-left: -1em; /* trailing semicolon... */
    }

} /* end of min-width */

footer.header-footer nav ul {
    flex-direction: column;
}

footer.header-footer nav li {
    text-align: left;
    align-self: flex-start;
}

/* responsiveness in the menu */
header.sticky li.only-mobile { display: none; }

@media (max-width: 900px ) {
    header.scrolling {
        display: none;
    }
    
    header.sticky nav li { display: none; }

    header.sticky li.also-mobile,
    header.sticky li.only-mobile 
        { display: inline-block; }
        
    footer.header-footer {
        font-size: 150%;
        
    }
    
    footer.mobile-fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        z-index: 8; /* header.sticky is 10 */
    }
    
    footer.header-footer > nav {
        display: grid;
        grid-template-columns: 50% 50%;
        
        height: 100%;
        padding: 20vw 6vw 6vw;
    }
    
    footer .contact {
        grid-row-start: 2;
        grid-column-start: span 2;
        
        text-align: center;
        margin-top: 9vh;
    }
    
    footer .central {
        font-weight: bold;
    }
}
