<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title_overwrite %}{{ page.title_overwrite }}{% else %}{{ page.title }} - DenktMit eG{% endif %}</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="/assets/css/zitronenblau.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;1000&display=swap" rel="stylesheet"> 
</head>
<body>

<header class="header-footer">
    <!-- not easy to style within a flexbox as a seperate element -->
    <!--<h1><a href="#">DenktMit</a></h1>-->
    <nav>
    <ul>
        <!-- Alternative ist es, <img src="...svg"> einzubinden, hat beides Vor- und Nachteile -->
        <li><a href="/" class="logo">
            <span class="placeholder">
                DenktMit
            </span>
            </a>
        <li><a href="/team/">Team</a>
        <li><a href="/expertise/">Expertise</a>
        <li><a href="/case-studies/">Case<br>Studies</a>
        <li><a href="/blog/">Blog</a>
        <li><a href="/jobs/">Jobs</a>
        <li><a href="/kontakt/">Kontakt</a>
    </ul>
    </nav>
</header>

<!-- Start of content -->
{{ content }}
<!-- End of content -->

<footer class="header-footer">
    <nav>
        <div><!-- col1 -->
        
        <a href="/" class="logo">
            <span class="placeholder">
                DenktMit
            </span>
        </a>
        
        <p>
        <u>DenktMit eG</u>
        
        <p style="margin-bottom:0">
        hallo@denktmit.de
        <br>+49 6195 8098 889
        
        </div>
        
        <nav class="footer-central-nav">
            <ul>
                <li><a href="/team/">Team</a>
                <li><a href="/expertise/">Expertise</a>
                <li><a href="/case-studies/">Case Studies</a>
                <li><a href="/blog/">Blog</a>
                <li><a href="/jobs/">Jobs</a>
                <li><a href="/kontakt/">Kontakt</a>
            </ul>
        </nav>
        
        <div>
            <nav class="icons" style="margin-bottom:2em">
                <!-- Todo: replace with white icons -->
                <ul>
                    <li><a href="#">Twitter</a>
                    <li><a href="#">LinkedIn</a>
                    <li><a href="#">Github</a>
                </ul>
            </nav>
        
            <nav>
                <ul>
                    <li><a href="/impressum/">Impressum</a>
                    <li><a href="/datenschutz/">Datenschutz</a>
                </ul>
            </nav>
        </div>
    </nav>
</footer>

</body>
</html>
