<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title_overwrite %}{{ page.title_overwrite }}{% else %}{{ page.title }} - DenktMit eG{% endif %}</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="/assets/css/zitronenblau.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;1000&display=swap" rel="stylesheet"> 
    
    <!-- JS at end of page for performance -->
    
    {% if page.header_code %}
    <!-- additional page-specific header code -->
    {{ page.header_code }}
    {% endif %}
</head>
<body>

<header class="blue header-footer scrolling">
    <!-- not easy to style within a flexbox as a seperate element -->
    <!--<h1><a href="#">DenktMit</a></h1>-->
    <nav>
    <ul>
        <!-- Alternative ist es, <img src="...svg"> einzubinden, hat beides Vor- und Nachteile -->
        <li><a href="/" class="logo">
            <span class="placeholder">
                DenktMit
            </span>
            </a>
        {% include main-navigation.html %}
    </ul>
    </nav>
</header>

<header class="sticky header-footer">
    <!-- grauer fixed/sticky header -->
    <nav>
    <ul>
        <li class="also-mobile"><a href="/" class="logo blue">
            <span class="placeholder">
                DenktMit
            </span>
            </a>
        {% include main-navigation.html %}
        <li class="only-mobile"><a href="#mobile-menu">menu</a>
    </ul>
    </nav>
</header>

<!-- Start of content -->
{{ content }}
<!-- End of content -->

<footer class="blue header-footer" id="mobile-menu">
    <nav>
        <div class="contact">
            <a href="/" class="logo">
                <span class="placeholder">
                    DenktMit
                </span>
            </a>
            
            <p>
            <u>DenktMit eG</u>
            
            <p style="margin-bottom:0">
            <a href="mailto:hallo@denktmit.de">hallo@denktmit.de</a>
            <br><a href="tel:+4961958098889">+49 6195 8098 889</a>
            
        </div>
        <nav class="central">
            <ul>
                {% include main-navigation.html %}
            </ul>
        </nav>
        <div class="secondary">
            <nav class="icons" style="margin-bottom:2em">
                <!-- Todo: replace with white icons -->
                <ul>
                    <li><a href="https://twitter.com/denktmit">Twitter</a>
                    <li><a href="https://linkedin.com/company/denktmit">LinkedIn</a>
                    <li><a href="https://github.com/DenktMit-eG">Github</a>
                </ul>
            </nav>
        
            <nav>
                <ul>
                    <li><a href="/kontakt/impressum/">Impressum</a>
                    <li><a href="/kontakt/datenschutz/">Datenschutz</a>
                </ul>
            </nav>
        </div>
    </nav>
</footer>

<script src="/assets/js/simple.js" type="text/javascript"></script>

</body>
</html>
